<a href="https://colab.research.google.com/github/Fizza-Rubab/Keyword-Identifier/blob/main/ngrams_keyword_identifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KeyPhrases Identifier using TF-IDF Scores - 2 gram

### Relevant Imports

In [153]:
from sklearn.feature_extraction.text import TfidfVectorizer

### Basic Utility functions for computing tf-idf scores

In [146]:
import re
def pre_process(text):
    text=text.lower()
    text=re.sub("</?.*?>"," <> ",text)
    text=re.sub("(\\d|\\W)+"," ",text)
    return text

### Reading the excel file

In [147]:
file_name = 'hscode_description (1).xlsx'
import pandas as pd
df = pd.read_excel(file_name, converters={'HSCODE':str}, usecols=['Hscode', "Description to English"])

In [148]:
df = df.dropna()

In [149]:
df.head()

        Hscode                             Description to English
0  19053100000  19053100000-SWEET BISCUITS WHETHER OR NOT CONT...
1     42022220           40 Carton (10,000 Pcs) COTTON BAGS(DETAI
2     30049099                     607077709237 PERSONAL MEDECINE
3     84433990                         TM M30II 122 SMALL PRINTER
4     92011000  Vertical Piano- PIANO TYPE: UPRIGHT, MAKER: YA...

In [150]:
df['Description to English'] = df['Description to English'].apply(lambda x: pre_process(x))

### Creating list of textblob from descriptions

In [151]:
bloblist = df['Description to English'].to_list()

In [154]:
tfidf_vectorizer=TfidfVectorizer(use_idf=True, ngram_range=(2,2))
tfidf_vectorizer_vectors=tfidf_vectorizer.fit_transform(bloblist)

###Displaying tf-idf scores for one of the data entries

In [139]:
first_vector_tfidfvectorizer=tfidf_vectorizer_vectors[4]
df = pd.DataFrame(first_vector_tfidfvectorizer.T.todense(), index=tfidf_vectorizer.get_feature_names(), columns=["tfidf"]) 
df.sort_values(by=["tfidf"],ascending=False)[:5]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                  tfidf
model serial   0.286136
yamaha model   0.281245
maker yamaha   0.281245
upright maker  0.275165
black pedal    0.275165

### Computing tf-idf scores for any description

In [144]:
def get_keyphrases(txt):
    global tfidf_vectorizer
    df = pd.DataFrame(tfidf_vectorizer.fit_transform([pre_process(t)]).T.todense(), index=tfidf_vectorizer.get_feature_names(), columns=["tfidf"]) 
    return df.sort_values(by=["tfidf"], ascending=False)[:5]

In [142]:
t = "MEMPHIS/EASTERN 2022/2023 CROP UPLAND COTTON USDA HVI CLASS: 42/51-4-36 AND LONGER MIKE:4.0-5.2 NCL GPT:: 28.0 MIN"
get_keyphrases(t)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                tfidf
and longer    0.27735
class and     0.27735
cotton usda   0.27735
crop upland   0.27735
eastern crop  0.27735